<div id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>QUELS SONT LES TYPES ACTES D'ÉTAT CIVIL QUE VOUS POUVEZ SOLLICITER ?</h2>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li><i class="bi bi-check2-all"></i> Acte de naissance</li>
                    <li><i class="bi bi-check2-all"></i> Acte de décès</li>
                </ul>
                <p>Votre requête sera transmise en moins d'une journée à compter de sa soumission en ligne.</p>
            </div>
        </div>
    </div>
</div>

