<div id="service" class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-stopwatch"></i></div>
                    <h3>Rapidité</h3>
                    <p>Votre demande d'acte d'état civil se fait en moins de 24 H pour permettre une réception rapide du document.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-hand-thumbs-up"></i></div>
                    <h3>Satisfaction garantie</h3>
                    <p>Le document que vous avez demandé vous est livré dans les délais prévus, sans aucune variation par rapport à votre demande initiale.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-shield-check"></i></div>
                    <h3>Sécurité</h3>
                    <p>Toutes vos informations sont complètement protégées et ne sont communiquées à aucun tiers, sauf à l'administration concernée.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-info-circle"></i></div>
                    <h3>Suivi de commande</h3>
                    <p>Une fois votre demande approuvée, vous pouvez surveiller son avancement à tout moment à travers notre outil de suivi en ligne.</p>
                </div>
            </div>
        </div>
    </div>
</div>

