<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="card shadow-lg mt-5">
				<div class="row g-0">
					<div class="col-lg-6">
						<img src="/assets/img/enfant_extrait.jpg" class="login-card-img rounded-start" alt="">
					</div>
					<div class="col-lg-6">
						<div class="card-body p-4">
							<h1 class="card-title mb-1">S'identifier</h1>
							<p>Vous n'avez pas de compte ? <a routerLink="/register" class="ms-1">S'inscrire</a></p>
							<div class="alert alert-danger" *ngIf="!!error"> {{error}}</div>
							<form>
								<div class="mb-3">
									<label for="email" class="form-label">Email</label>
									<input type="email" class="form-control" id="email" placeholder="Adresse email" [(ngModel)]="person.email">
								</div>
								<div class="mb-3">
									<label for="password" class="form-label" [(ngModel)]="person.password">Mot de passe</label>
									<input type="password" class="form-control" id="password" placeholder="***********">
								</div>
								<button type="submit" class="btn btn-primary w-100" (click)="login()">Se connecter</button>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
